# archives
*.7z
*.7zip
*.rar
*.tar.gz
*.tgz
*.zip

# binary files
*.bin

# build artifacts
**/build
**/.dist
.dist.tar.gz

# cmake
*.cmake
!CMakeModules/*.cmake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile

# data files
*.csv
/*.json
*.tsv
*.xls
*.xlsx

# doxygen
doxygen
eos.doxygen

# editor files
*.sw?
.vscode
.idea/

# environment variable files
.env

# eslint
.eslintcache

# istanbul/jest
**/coverage
junit.xml

# keys and certs
*.cer
*.crt
*.key
*.pem

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.txt

# macOS finder cache
**/*.DS_Store

# nodeJS + TypeScript
**/build
**/node_modules
.node_repl_history
**/.npm
*.tgz
**/typings

# nodeos
genesis.json
hardfork.hpp
wallet.json
witness_node_data_dir
*.wallet

# pipeline-upload.sh artifacts
/pipeline.yml
/pipeline.yaml

# python
*.pyc
*.pyo

# swagger
!*.swagger.*

# terraform
plan.out
**/.terraform
*.tfstate
*.tfstate.*
*.terraform.lock.hcl
**/terraform/*.out

# wasm
*.wast
*.wast.hpp

# yarn
.yarn-integrity

### COMPONENTS ###
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester

libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/wasm-jit/Source/Programs/Assemble
libraries/wasm-jit/Source/Programs/Disassemble
libraries/wasm-jit/Source/Programs/Test
libraries/wasm-jit/Source/Programs/wavm

programs/cleos/cleos
programs/js_operation_serializer/js_operation_serializer
programs/data-dir
programs/eosio-abigen/eosio-abigen
programs/cleos/config.hpp
programs/eosio-applesedemo/eosio-applesedemo
programs/eosio-launcher/config.hpp
programs/eosio-launcher/eosio-launcher
programs/keosd/keosd
programs/nodeos/config.hpp
programs/nodeos/nodeos

scripts/tn_init.sh

tests/plugin_test
unittests/unit_test

### OTHER ###
*.a
*.dylib
*.ll
*.bc
*.s
*.dot
*.abi.hpp
*.ninja
\#*
\.#*
moc_*
*.moc
.clangd/

Testing/*
build-debug/*

*.iws

.cache
