*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.wasm
*.s
*.dot
*.abi.hpp
*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/utilities/git_revision.cpp
libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester


libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/wasm-jit/Source/Programs/Assemble
libraries/wasm-jit/Source/Programs/Disassemble
libraries/wasm-jit/Source/Programs/Test
libraries/wasm-jit/Source/Programs/wavm

programs/arisecli/arisecli
programs/js_operation_serializer/js_operation_serializer
programs/data-dir
programs/arisen-abigen/arisen-abigen
programs/arisecli/config.hpp
programs/arisen-applesedemo/arisen-applesedemo
programs/arisen-launcher/config.hpp
programs/arisen-launcher/arisen-launcher
programs/akeyd/akeyd
programs/aos/config.hpp
programs/aos/aos

scripts/tn_init.sh

tests/plugin_test
unittests/unit_test

doxygen
arisen.doxygen

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo

build/*
build-debug/*

etc/arisen/node_*
var/lib/node_*
.vscode
.idea/
*.iws
.DS_Store
