[submodule "libraries/chainbase"]
	path = libraries/chainbase
	url = https://github.com/eosio/chainbase
        ignore = dirty
[submodule "libraries/appbase"]
	path = libraries/appbase
	url = https://github.com/eosio/appbase
        ignore = dirty
[submodule "programs/snapshot"]
	path = programs/snapshot
	url = https://github.com/EOSIO/genesis.git
[submodule "contracts/musl/upstream"]
	path = contracts/musl/upstream
	url = https://github.com/EOSIO/musl.git
	branch = eosio
[submodule "contracts/libc++/upstream"]
	path = contracts/libc++/upstream
	url = https://github.com/EOSIO/libcxx.git
	branch = eosio
[submodule "externals/binaryen"]
	path = externals/binaryen
	url = https://github.com/EOSIO/binaryen

[submodule "libraries/softfloat"]
	path = libraries/softfloat
	url = https://github.com/eosio/berkeley-softfloat-3
