*.a
*.sw*
*.dylib
*.ll
*.bc
*.wast
*.wast.hpp
*.s
*.dot
*.abi.hpp
*.cmake
!.cicd
!CMakeModules/*.cmake
*.ninja
\#*
\.#*
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
Makefile
compile_commands.json
moc_*
*.moc

genesis.json
hardfork.hpp

libraries/egenesis/egenesis_brief.cpp
libraries/egenesis/egenesis_full.cpp
libraries/egenesis/embed_genesis
libraries/types/type_generator
libraries/types/types_test
libraries/fc/test/crypto/test_cypher_suites
libraries/testing/chain_tester


libraries/wallet/Doxyfile
libraries/wallet/api_documentation.cpp
libraries/wallet/doxygen

libraries/wasm-jit/Source/Programs/Assemble
libraries/wasm-jit/Source/Programs/Disassemble
libraries/wasm-jit/Source/Programs/Test
libraries/wasm-jit/Source/Programs/wavm

programs/cleos/cleos
programs/js_operation_serializer/js_operation_serializer
programs/data-dir
programs/eosio-abigen/eosio-abigen
programs/cleos/config.hpp
programs/eosio-applesedemo/eosio-applesedemo
programs/eosio-launcher/config.hpp
programs/eosio-launcher/eosio-launcher
programs/keosd/keosd
programs/nodeos/config.hpp
programs/nodeos/nodeos

scripts/tn_init.sh

tests/plugin_test
unittests/unit_test

doxygen
eos.doxygen

wallet.json
witness_node_data_dir

*.wallet

*.pyc
*.pyo

Testing/*
build.tar.gz
build/*
build-debug/*

etc/eosio/node_*
var/lib/node_*
.vscode
.idea/
*.iws
.DS_Store

!*.swagger.*
