language: cpp
git:
  depth: false # prevent git describe failure when executing the appbase version.cmake.in
cache:
  ccache: true
  directories:
    - $HOME/Library/Caches/Homebrew
if: fork = true OR type = api OR type = cron
matrix:
  include:
    - os: linux
      dist: xenial
      services: docker
      env:
        - PLATFORM_TYPE='pinned'
        - IMAGE_TAG='ubuntu-18.04-pinned'
    - os: linux
      dist: xenial
      services: docker
      env:
        - PLATFORM_TYPE='pinned'
        - IMAGE_TAG='ubuntu-16.04-pinned'
    - os: linux
      dist: xenial
      services: docker
      env:
        - PLATFORM_TYPE='pinned'
        - IMAGE_TAG='amazon_linux-2-pinned'
    - os: linux
      dist: xenial
      services: docker
      env:
        - PLATFORM_TYPE='pinned'
        - IMAGE_TAG='centos-7.6-pinned'
    - os: osx
      osx_image: xcode10.2
      addons:
        homebrew:
          update: true
          packages:
            - ccache
            - jq
            - boost
            - python@2
            - python
            - libtool
            - libusb
            - graphviz
            - automake
            - wget
            - gmp
            - pkgconfig
            - doxygen
            - openssl
      env: 
        - PATH="/usr/local/opt/ccache/libexec:$PATH"
        - IMAGE_TAG='macos-10.14-unpinned'
script: "ccache --max-size=1G && ./.cicd/build.sh && ./.cicd/test.sh scripts/parallel-test.sh && ./.cicd/test.sh scripts/wasm-spec-test.sh && ./.cicd/test.sh scripts/serial-test.sh && if [[ $(uname) != 'Darwin' ]]; then ./.cicd/submodule-regression-check.sh; fi"
notifications:
  webhooks:
    secure: gmqODqoFAil2cR7v++ibqRNECBOSD/VJX+2qPa7XptkVWmVMzbII5CNgBQAscjFsp9arHPMXCCzkBi847PCSiHdsnYFQ4T273FLRWr3cDbLjfmR+BJ7dGKvQnlpSi2Ze2TtAPJyRl+iv+cxDj7cWE5zw2c4xbgh1a/cNO+/ayUfFkyMEIfVWRsHkdkra4gOLywou0XRLHr4CX1V60uU7uuqATnIMMi7gQYwiKKtZqjkbf8wcBvZirDhjQ6lDPN5tnZo6L4QHmqjtzNJg/UrD4h+zES53dLVI4uxlXRAwwpw+mJOFA3QE/3FT+bMQjLCffUz4gZaWcdgebPYzrwSWUbJoFdWAOwcTqivQY0FIQzcz/r6uGWcwWTavzkPEbg68BVM2BZId/0110J6feeTkpJ3MPV+UsIoGTvbg50vi/I06icftuZ/cLqDj3+Emifm7Jlr1sRTSdqtYAJj/2ImUfsb46cwgjAVhFOTvc+KuPgJQgvOXV7bZkxEr5qDWo8Al2sV8BWb83j1rMlZ4LfERokImDVqxu2kkcunchzvhtYFTesSpmwegVpwceCtOtO0rEUgATnfTEHzk2rm8nuz4UtidsQnluUKqmKD0QCqHXFfn+3ZRJsDqr+iCYdxv1BAeAVc9q1L7bgrKDMGiJgkxuhZ2v3J2SflWLvjZjFDduuc=
