language: cpp
compiler: clang
services: mongodb

matrix:
  include:
    - os: linux
      dist: trusty
      sudo: false
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
            - llvm-toolchain-trusty-4.0
          packages:
            - llvm-4.0-dev
            - clang-4.0
            - g++-6
            - ninja-build
            - libgmp-dev
            - libclang-4.0-dev
            - python3
            - sharutils
    - os: osx
      osx_image: xcode9.1
before_install:
  - |
    mkdir ext && cd ext
    if [ "$TRAVIS_OS_NAME" == "osx" ]; then
      brew install boost openssl llvm@4 gmp gettext ninja mongodb mongo-c-driver python3
      brew link gettext --force
      brew services start mongodb
      WASM_BRANCH=macos
      export CC=/usr/local/opt/llvm@4/bin/clang
      export CXX=/usr/local/opt/llvm@4/bin/clang++
      export LLVM_DIR=/usr/local/opt/llvm@4/lib/cmake/llvm
      export LDFLAGS="-L/usr/local/opt/llvm@4/lib"
      MONGOCXX_CMAKE_OPTIONS="-DLIBBSON_DIR=/usr/local -DLIBMONGOC_DIR=/usr/local"
      EOS_CMAKE_OPTIONS="-DOPENSSL_ROOT_DIR=/usr/local/opt/openssl"
    else
      WASM_BRANCH=master
      CMAKE_DIR=$TRAVIS_BUILD_DIR/ext/cmake-3.9.0-Linux-x86_64/bin/
      export CC=clang-4.0
      export CXX=clang++-4.0
      export LD_LIBRARY_PATH=$TRAVIS_BUILD_DIR/ext/lib
      MONGOCXX_CMAKE_OPTIONS="-DLIBBSON_DIR=$TRAVIS_BUILD_DIR/ext -DLIBMONGOC_DIR=$TRAVIS_BUILD_DIR/ext"
      EOS_CMAKE_OPTIONS="-DBOOST_ROOT=$TRAVIS_BUILD_DIR/ext"
      wget https://dl.bintray.com/boostorg/release/1.64.0/source/boost_1_64_0.tar.bz2
      tar xjf boost_1_64_0.tar.bz2
      cd boost_1_64_0
      ./bootstrap.sh --prefix=$TRAVIS_BUILD_DIR/ext
      echo 'using clang : 4.0 : clang++-4.0 ;' >> project-config.jam
      ./b2 -d0 -j4 --with-iostreams --with-thread --with-date_time --with-system --with-filesystem --with-program_options --with-signals --with-serialization --with-chrono --with-test --with-context --with-locale --with-coroutine toolset=clang link=static install
      cd $TRAVIS_BUILD_DIR/ext
      wget https://cmake.org/files/v3.9/cmake-3.9.0-Linux-x86_64.tar.gz
      tar xzf cmake-3.9.0-Linux-x86_64.tar.gz
      wget https://github.com/mongodb/mongo-c-driver/releases/download/1.8.0/mongo-c-driver-1.8.0.tar.gz
      tar xzf mongo-c-driver-1.8.0.tar.gz
      cd mongo-c-driver-1.8.0
      ./configure --disable-automatic-init-and-cleanup --prefix=$TRAVIS_BUILD_DIR/ext
      make install
    fi
    cd $TRAVIS_BUILD_DIR/ext
    git clone --depth 1 -b $WASM_BRANCH git://github.com/oci-labs/clang-WebAssembly wasm-compiler
    git clone --depth 1 git://github.com/cryptonomex/secp256k1-zkp
    cd secp256k1-zkp
    ./autogen.sh
    ./configure --prefix=$TRAVIS_BUILD_DIR/ext
    make install
    cd $TRAVIS_BUILD_DIR/ext
    git clone --depth 1 -b releases/stable git://github.com/mongodb/mongo-cxx-driver
    cd mongo-cxx-driver/build
    ${CMAKE_DIR}cmake -G Ninja -DCMAKE_BUILD_TYPE=Release -DCMAKE_INSTALL_PREFIX=$TRAVIS_BUILD_DIR/ext $MONGOCXX_CMAKE_OPTIONS ..
    ninja install
    cd $TRAVIS_BUILD_DIR

script:
  - mkdir build && cd build
  - ${CMAKE_DIR}cmake -G Ninja -DWASM_LLVM_CONFIG=$TRAVIS_BUILD_DIR/ext/wasm-compiler/bin/llvm-config -DSecp256k1_ROOT_DIR=$TRAVIS_BUILD_DIR/ext -DBINARYEN_ROOT=$TRAVIS_BUILD_DIR/ext/wasm-compiler -DCMAKE_PREFIX_PATH=$TRAVIS_BUILD_DIR/ext -DCMAKE_BUILD_TYPE=Release -DBUILD_MONGO_DB_PLUGIN=true $EOS_CMAKE_OPTIONS ..
  - ninja -j4
  - '[ "$TRAVIS_OS_NAME" == "osx" ] || (export EOSLIB=$TRAVIS_BUILD_DIR/contracts; ctest --output-on-failure)'
  - cpack

deploy:
  provider: releases
  api_key:
    secure: "PvCGYnK5Wq0MdB141TSuS7tljYRs7BAlk4tUzvYcHV/8s+cocKGA6DBzeXAVIAahc6r0ccKxMSZV98J6FBa3cdHLvay0qnihXsg8YR2gk3O2Ei8v38WO+BmRJ94W79vvRkmd7bbIDylhyWnTjWXt0eNWbeuZxPrIkEFTDu9hxsvcTX+WzamRRtPaqUhddO7VMsV+KKYsegzSKd9OiMk4+1dieNfkp0P6gWBoPw/9t5NIj4tFDpDmvUcWXy4y2ENQY9YULuFaRd+SjvfciAMznqf3wOAxXBa5NXCfUPHPEt+cC5rvOrvI3CTduJL2sFY5628Z3iGEoc9pSe/GJiygcl6CQkH9BkDMH8TpID6kPhfXqg1ObKe5AwNcNX009PdTGl0pdljrVETHOtMk8tPLyg9BoMBU6i+rePHxIlrBRj1VYX4qoidPTA0EcauFj3t4c5cOtamgovIt+U3HSI3+UhCl7+yF6YFKi0y8NAFNDYp3EdeCdvOzBLvoScBUGoWdDEm99HZTqdfd/OJlHqWJHR8DE+PW64OaDjs+2q0Sn3n5+huy9zvimMUl0XfsErthSLhGTAIn0Ipl1UBmZgZa4Rbrc0DpWv6rDZBCEu3JPFJS/x5gMT2DuQg/JUO5f5WJjIAUWI4hD/z80pzheky07hEBTKbAQqGwE1GKwFNfkLw="
  file: "$TRAVIS_BUILD_DIR/build/packages/EOS.IO-*"
  skip_cleanup: true
  file_glob: true
  on:
    tags: true
    repo: EOSIO/eos
    branch: master
