name: Pull Request
on: [pull_request]

jobs:
  start-job:
    name: Start Job
    runs-on: ubuntu-latest
    steps:
      - name: Start Job.
        run: echo "PR created. Builds will be triggered here for forked PRs or Buildkite for internal PRs."


  submodule_regression_check:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: Submodule Regression Check
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Submodule Regression Check
        run: ./.cicd/submodule-regression-check.sh


  amazon_linux-2-build:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: Amazon_Linux 2 | Build
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
        env:
          IMAGE_TAG: amazon_linux-2-pinned
          PLATFORM_TYPE: pinned
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: amazon_linux-2-build
          path: build.tar.gz
  amazon_linux-2-parallel-test:
    name: Amazon_Linux 2 | Parallel Test
    runs-on: ubuntu-latest
    needs: amazon_linux-2-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: amazon_linux-2-build
      - name: Parallel Test
        run: | 
          tar -xzf amazon_linux-2-build/build.tar.gz
          ./.cicd/test.sh scripts/parallel-test.sh
        env:
          IMAGE_TAG: amazon_linux-2-pinned
          PLATFORM_TYPE: pinned
  amazon_linux-2-wasm-test:
    name: Amazon_Linux 2 | WASM Spec Test
    runs-on: ubuntu-latest
    needs: amazon_linux-2-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: amazon_linux-2-build
      - name: WASM Spec Test
        run: | 
          tar -xzf amazon_linux-2-build/build.tar.gz
          ./.cicd/test.sh scripts/wasm-spec-test.sh
        env:
          IMAGE_TAG: amazon_linux-2-pinned
          PLATFORM_TYPE: pinned
  amazon_linux-2-serial-test:
    name: Amazon_Linux 2 | Serial Test
    runs-on: ubuntu-latest
    needs: amazon_linux-2-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: amazon_linux-2-build
      - name: Serial Test
        run: | 
          tar -xzf amazon_linux-2-build/build.tar.gz
          ./.cicd/test.sh scripts/serial-test.sh
        env:
          IMAGE_TAG: amazon_linux-2-pinned
          PLATFORM_TYPE: pinned


  centos-77-build:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: CentOS 7.7 | Build
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
        env:
          IMAGE_TAG: centos-7.7-pinned
          PLATFORM_TYPE: pinned
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: centos-77-build
          path: build.tar.gz
  centos-77-parallel-test:
    name: CentOS 7.7 | Parallel Test
    runs-on: ubuntu-latest
    needs: centos-77-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: centos-77-build
      - name: Parallel Test
        run: | 
          tar -xzf centos-77-build/build.tar.gz
          ./.cicd/test.sh scripts/parallel-test.sh
        env:
          IMAGE_TAG: centos-7.7-pinned
          PLATFORM_TYPE: pinned
  centos-77-wasm-test:
    name: CentOS 7.7 | WASM Spec Test
    runs-on: ubuntu-latest
    needs: centos-77-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: centos-77-build
      - name: WASM Spec Test
        run: | 
          tar -xzf centos-77-build/build.tar.gz
          ./.cicd/test.sh scripts/wasm-spec-test.sh
        env:
          IMAGE_TAG: centos-7.7-pinned
          PLATFORM_TYPE: pinned
  centos-77-serial-test:
    name: CentOS 7.7 | Serial Test
    runs-on: ubuntu-latest
    needs: centos-77-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: centos-77-build
      - name: Serial Test
        run: | 
          tar -xzf centos-77-build/build.tar.gz
          ./.cicd/test.sh scripts/serial-test.sh
        env:
          IMAGE_TAG: centos-7.7-pinned
          PLATFORM_TYPE: pinned


  ubuntu-1604-build:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id  
    name: Ubuntu 16.04 | Build
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
        env:
          IMAGE_TAG: ubuntu-16.04-pinned
          PLATFORM_TYPE: pinned
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: ubuntu-1604-build
          path: build.tar.gz
  ubuntu-1604-parallel-test:
    name: Ubuntu 16.04 | Parallel Test
    runs-on: ubuntu-latest
    needs: ubuntu-1604-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1604-build
      - name: Parallel Test
        run: | 
          tar -xzf ubuntu-1604-build/build.tar.gz
          ./.cicd/test.sh scripts/parallel-test.sh
        env:
          IMAGE_TAG: ubuntu-16.04-pinned
          PLATFORM_TYPE: pinned
  ubuntu-1604-wasm-test:
    name: Ubuntu 16.04 | WASM Spec Test
    runs-on: ubuntu-latest
    needs: ubuntu-1604-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1604-build
      - name: WASM Spec Test
        run: | 
          tar -xzf ubuntu-1604-build/build.tar.gz
          ./.cicd/test.sh scripts/wasm-spec-test.sh
        env:
          IMAGE_TAG: ubuntu-16.04-pinned
          PLATFORM_TYPE: pinned
  ubuntu-1604-serial-test:
    name: Ubuntu 16.04 | Serial Test
    runs-on: ubuntu-latest
    needs: ubuntu-1604-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1604-build
      - name: Serial Test
        run: | 
          tar -xzf ubuntu-1604-build/build.tar.gz
          ./.cicd/test.sh scripts/serial-test.sh
        env:
          IMAGE_TAG: ubuntu-16.04-pinned
          PLATFORM_TYPE: pinned


  ubuntu-1804-build:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: Ubuntu 18.04 | Build
    runs-on: ubuntu-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
        env:
          IMAGE_TAG: ubuntu-18.04-pinned
          PLATFORM_TYPE: pinned
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: ubuntu-1804-build
          path: build.tar.gz
  ubuntu-1804-parallel-test:
    name: Ubuntu 18.04 | Parallel Test
    runs-on: ubuntu-latest
    needs: ubuntu-1804-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1804-build
      - name: Parallel Test
        run: | 
          tar -xzf ubuntu-1804-build/build.tar.gz
          ./.cicd/test.sh scripts/parallel-test.sh
        env:
          IMAGE_TAG: ubuntu-18.04-pinned
          PLATFORM_TYPE: pinned
  ubuntu-1804-wasm-test:
    name: Ubuntu 18.04 | WASM Spec Test
    runs-on: ubuntu-latest
    needs: ubuntu-1804-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1804-build
      - name: WASM Spec Test
        run: | 
          tar -xzf ubuntu-1804-build/build.tar.gz
          ./.cicd/test.sh scripts/wasm-spec-test.sh
        env:
          IMAGE_TAG: ubuntu-18.04-pinned
          PLATFORM_TYPE: pinned
  ubuntu-1804-serial-test:
    name: Ubuntu 18.04 | Serial Test
    runs-on: ubuntu-latest
    needs: ubuntu-1804-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: ubuntu-1804-build
      - name: Serial Test
        run: | 
          tar -xzf ubuntu-1804-build/build.tar.gz
          ./.cicd/test.sh scripts/serial-test.sh
        env:
          IMAGE_TAG: ubuntu-18.04-pinned
          PLATFORM_TYPE: pinned


  macos-1015-build:
    if: github.event.pull_request.base.repo.id != github.event.pull_request.head.repo.id
    name: MacOS 10.15 | Build
    runs-on: macos-latest
    needs: start-job
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Build
        run: | 
          ./.cicd/platforms/unpinned/macos-10.14-unpinned.sh
          ./.cicd/build.sh
          tar -pczf build.tar.gz build
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v1
        with:
          name: macos-1015-build
          path: build.tar.gz
  macos-1015-parallel-test:
    name: MacOS 10.15 | Parallel Test
    runs-on: macos-latest
    needs: macos-1015-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: macos-1015-build
      - name: Parallel Test
        run: | 
          ./.cicd/platforms/unpinned/macos-10.14-unpinned.sh
          tar -xzf macos-1015-build/build.tar.gz
          ./.cicd/test.sh scripts/parallel-test.sh
  macos-1015-wasm-test:
    name: MacOS 10.15 | WASM Spec Test
    runs-on: macos-latest
    needs: macos-1015-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: macos-1015-build
      - name: WASM Spec Test
        run: | 
          ./.cicd/platforms/unpinned/macos-10.14-unpinned.sh
          tar -xzf macos-1015-build/build.tar.gz
          ./.cicd/test.sh scripts/wasm-spec-test.sh
  macos-1015-serial-test:
    name: MacOS 10.15 | Serial Test
    runs-on: macos-latest
    needs: macos-1015-build
    steps:
      - name: Checkout
        uses: actions/checkout@50fbc622fc4ef5163becd7fab6573eac35f8462e
        with:
          submodules: recursive
      - name: Download Build Artifact
        uses: actions/download-artifact@v1
        with:
          name: macos-1015-build
      - name: Serial Test
        run: | 
          ./.cicd/platforms/unpinned/macos-10.14-unpinned.sh
          tar -xzf macos-1015-build/build.tar.gz
          ./.cicd/test.sh scripts/serial-test.sh